footer { 

    
    .footer { 

        @include sections ();
        
            .footerNav {

                 background-color: $colornavs;

                .linksFooter {
                    
                    @include navs ();

                }        

            } 

     }


     .nav-link { 
                  
        img {width:25px ;} }

        .footerNav { 
            padding: auto;margin: auto;}

}