
main { 
    @include background();
    @include sections ();

    
        .jugar {
            .p { text-align: left; width: 70%; margin: auto;}

            #link { color: rgb(0, 255, 234);
                    text-decoration: underline;
                    &:hover { color: $colortitulos;}
            
            }
        
        }  
        

        .tablita {

            display:block;
            margin: auto;
            padding: 0.8rem;
  
            .tabla {

                
                padding: 2px;
                margin: 5px;
                background: linear-gradient(black,navy,navy,black);; color: $colortextotabla;
                font-family: 'Roboto Mono', monospace;
                text-align: left;
                margin: auto;
                border: $colorbordes;

                th { 
                    padding: 10px;
                    text-align: center;}
                    
                td {padding: 5px;
                        text-align: center;
                    margin-left: 50px;}
    
            }
    
         }

         .clases {
            .p { text-align: left; width: 70%; margin: auto;}


            .containerClases {

                          
            
                .cardClases { 
                
                            
                            margin: auto;
                            margin-top: 20px;
                            border-radius: 6px;
                            background: $colortarjetas;
                            box-shadow: 2px 2px 10px rgba(0, 0, 0, 1.719);
                            cursor: default;
                            transition: all 400ms ease;
                    
                            &:hover {box-shadow: 5px 5px 20px $colornavs; transform: translateY(-3%);}
                    
                            .foto { padding: 2rem; width:100%; }
                    
                            .contenido {

                                    width: auto;
                        
                                        padding: 15px; text-align: center;


                            
                                        p { line-height: 1.5; color: #ffffff; text-align: center;}
                                        h3 { font-weight: 400; margin-bottom: 15px;}
                                        h5 { line-height: 1.5; color: $colortitulos;}
                                        a {       
                                            width: auto;
                                            text-decoration: none;
                                            display: inline-block;
                                            padding: 1rem;
                                            margin-top: 1rem;
                                            color: $colornavs;
                                            border-radius: 4px;
                                            transition: all 400ms ease;
                            
                            
                                            &:hover { 
                                                    background: $colornavs;
                                                    color: #fff;                                    
                                                }
                                            } 
                                            
                                               
                                    }
                        }     
                }
            



         }

    }



  
         
       

        