@media only screen and (max-width:768px) { 
    
    .h1 { 
        font-size: 20px;}
    .h2{ 
            font-size: 16px;}
    .h3  { 
                font-size: 10px;}         
    .p { font-size: 12px;} 
     
    a { font-size: 13px;} 
    .banner { width: 300px;}
    table { width: 50px;}
    
    .token {
        width: 75px;
        height: 75px;
            } 

    .videos {display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }  
        
    .vid1 { width: 250px; height: 150px;}
    .vid2 { width: 250px; height: 150px;}   

    
}

@media only screen and (min-width:768px) {
    
    .h1 {font-size: 24px;}
    .h2{font-size: 20px;} 
    .h3, .h4  {font-size: 15px;} 
    .p { font-size: 14px;} 
    a { font-size: 13px;} 
    .banner { width: 650px;} 
    table { width: 750px;}  

    .token{
        width: 150px;
        height: 150px;
            } 

    .videos {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;}
        
        .vid1 { width: 300px; height: 180px;
            }
    
    
        .vid2  {
            width:300px; height: 180px;}     
      
}

@media only screen and (min-width:1024px) {

    .h1 {font-size: 30px; }
    .h2{font-size: 26px;}
    .h3, .h4 {font-size: 20px;}     
    .p  { font-size: 18px;} 
    a{ font-size: 18px;}  
    table { width: 1080px;}  
    .banner { width: 900px;} 

    .token {
        width: 180px;
        height: 180px;
            } 

    .videos {display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            height: 800px;}

    .vid1 { width: 560px;
        height: 315px;
        }


    .vid2  {
        width:560px; height: 315px;}         
                        
   
}      

@media only screen and (min-width:1400px) {

    .h1 {font-size: 30px; }
    .h2{font-size: 26px;}
    .h3, .h4 {font-size: 20px;}     
    .p  { font-size: 18px;} 
    a{ font-size: 18px;}  
    table { width: 1080px;}  
    .banner { width: 900px;} 

    .token {
        width: 180px;
        height: 180px;
            } 

    .videos {display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            height: 400px;}

    .vid1 { width: 560px;
        height: 315px;
        }


    .vid2  {
        height: 315px;}         
                        
   
} 