$colortitulos:rgb(240, 156, 0);
$colortexto: rgb(255, 255, 255);
$colorbackground: rgba(133, 133, 133, 0.082);
$colorlinks: rgb(11, 40, 168);
$colorlinkshover: rgb(0, 110, 255);
$colornavs: rgb(240, 156, 0);
$colorbordes: 0.5rem double rgb(240, 156, 0);
$colortextotabla: rgb(240, 156, 0);
$colortextoformulario: rgb(240, 156, 0);
$colorlinksbackgroundhover:  rgb(255, 215, 82); 
$colorbackgroundgradiente: linear-gradient(to left, rgb(0, 0, 0), rgb(5, 33, 65), rgb(5, 33, 65),rgb(0, 0, 0)) ;




