
main { 

    @include background();
    @include sections ();

        .tituloVideos{ 

            .h2 {text-decoration:underline; }           
           
        }

        .videos {
            
            align-items: center;
            margin: auto;
           
            
            .video1{
                    .vid1 { border: $colorbordes;}
                }
            
            .video2 { 
                    .vid2 {  border: $colorbordes;}  
                    }

        }

}


