* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(#052141), color-stop(#052141), to(black));
  background: linear-gradient(to left, black, #052141, #052141, black);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

header .micolor {
  background-color: #f09c00;
}

header .micolor .linksHeader a .icono {
  width: 25px;
}

header .micolor .linksHeader .enlaces ul {
  font-size: 1rem;
}

header .micolor .linksHeader .enlaces ul li a {
  color: #0b28a8;
}

header .micolor .linksHeader .enlaces ul li a:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border-radius: 50%;
  border: #f09c00 double 0.35rem;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu {
  background-color: #f09c00;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu .dropdown-item {
  background-color: #f09c00;
  text-align: center;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu .dropdown-item:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border-radius: 50%;
  border: #f09c00 double 0.35rem;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .multiverse .titilante {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: titilante;
          animation-name: titilante;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main .multiverse .titilante:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

main .juego .nft .token {
  float: left;
  padding: 5px;
}

main .juego .nft .token:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@-webkit-keyframes titilante {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titilante {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main section .tablita {
  width: 60%;
  display: block;
  margin: auto;
  padding: 0.8rem;
}

main section .tablita .tabla {
  padding: 2px;
  margin: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(navy), color-stop(navy), to(black));
  background: linear-gradient(black, navy, navy, black);
  color: #f09c00;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin: auto;
  border: 0.5rem double #f09c00;
}

main section .tablita .tabla th {
  padding: 10px;
  text-align: center;
}

main section .tablita .tabla td {
  padding: 5px;
  text-align: center;
  margin-left: 50px;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .tituloContacto .contacto .h1 {
  font-size: 1rem;
}

main .fondoModal {
  background-color: #f09c00;
}

main .botonModal {
  background-color: #f09c00;
}

main .backgroundContacto {
  color: #f09c00;
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(#052141), color-stop(#052141), to(black));
  background: linear-gradient(to left, black, #052141, #052141, black);
}

main .formularios .formulario {
  color: #f09c00;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer h1, footer .footer h2, footer .footer h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

footer .footer p, footer .footer h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

footer .footer a {
  color: #f09c00;
  text-decoration: none;
}

footer .footer .footerNav {
  background-color: #f09c00;
}

footer .footer .footerNav .linksFooter a .icono {
  width: 25px;
}

footer .footer .footerNav .linksFooter .enlaces ul {
  font-size: 1rem;
}

footer .footer .footerNav .linksFooter .enlaces ul li a {
  color: #0b28a8;
}

footer .footer .footerNav .linksFooter .enlaces ul li a:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border-radius: 50%;
  border: #f09c00 double 0.35rem;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu {
  background-color: #f09c00;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu .dropdown-item {
  background-color: #f09c00;
  text-align: center;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu .dropdown-item:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border-radius: 50%;
  border: #f09c00 double 0.35rem;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .tituloFotos .h2 {
  text-decoration: underline;
}

main .galeria {
  width: auto;
  border: 0.5rem double #f09c00;
  padding: 0.4rem;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 10px;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .tituloVideos .h2 {
  text-decoration: underline;
}

main .videos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

main .videos .video1 .vid1 {
  border: 0.5rem double #f09c00;
  padding: 0.4rem;
}

main .videos .video2 .vid2 {
  border: 0.5rem double #f09c00;
  padding: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 20px;
  }
  .h2 {
    font-size: 16px;
  }
  .h3 {
    font-size: 10px;
  }
  .p {
    font-size: 12px;
  }
  a {
    font-size: 13px;
  }
  .banner {
    width: 300px;
  }
  table {
    width: 50px;
  }
  .token {
    width: 75px;
    height: 75px;
  }
  .videos {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .vid1 {
    width: 250px;
    height: 150px;
  }
  .vid2 {
    width: 250px;
    height: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 20px;
  }
  .h3, .h4 {
    font-size: 15px;
  }
  .p {
    font-size: 14px;
  }
  a {
    font-size: 13px;
  }
  .banner {
    width: 650px;
  }
  table {
    width: 750px;
  }
  .token {
    width: 150px;
    height: 150px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .vid1 {
    width: 300px;
    height: 180px;
  }
  .vid2 {
    width: 300px;
    height: 180px;
  }
}

@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3, .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  table {
    width: 1080px;
  }
  .banner {
    width: 900px;
  }
  .token {
    width: 180px;
    height: 180px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 800px;
  }
  .vid1 {
    width: 560px;
    height: 315px;
  }
  .vid2 {
    width: 560px;
    height: 315px;
  }
}

@media only screen and (min-width: 1400px) {
  .h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3, .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  table {
    width: 1080px;
  }
  .banner {
    width: 900px;
  }
  .token {
    width: 180px;
    height: 180px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
  }
  .vid1 {
    width: 560px;
    height: 315px;
  }
  .vid2 {
    height: 315px;
  }
}
/*# sourceMappingURL=miestilo.css.map */