* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(#052141), color-stop(#052141), to(black));
  background: linear-gradient(to left, black, #052141, #052141, black);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 0rem;
  padding-right: 0rem;
}

strong {
  color: #ce7500;
}

header .micolor {
  background-color: #f09c00;
}

header .micolor .linksHeader a .icono {
  width: 25px;
}

header .micolor .linksHeader .enlaces ul {
  font-size: 1rem;
}

header .micolor .linksHeader .enlaces ul li a {
  color: #0b28a8;
}

header .micolor .linksHeader .enlaces ul li a:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border: #f09c00 double 0.35rem;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu {
  background-color: #f09c00;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu .dropdown-item {
  background-color: #f09c00;
  text-align: center;
}

header .micolor .linksHeader .enlaces ul .dropdown-menu .dropdown-item:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border: #f09c00 double 0.35rem;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .multiverse .titilante {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: titilante;
          animation-name: titilante;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main .multiverse .titilante:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

main .juego .elJuego .p {
  text-align: left;
  width: 70%;
  margin: auto;
}

main .juego .nft .token {
  float: left;
  padding: 5px;
}

main .juego .nft .token:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

main .juego .nft .p {
  text-align: left;
  width: 70%;
  margin: auto;
}

@-webkit-keyframes titilante {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titilante {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .jugar .p {
  text-align: left;
  width: 70%;
  margin: auto;
}

main .jugar #link {
  color: #00ffea;
  text-decoration: underline;
}

main .jugar #link:hover {
  color: #f09c00;
}

main .tablita {
  display: block;
  margin: auto;
  padding: 0.8rem;
}

main .tablita .tabla {
  padding: 2px;
  margin: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(navy), color-stop(navy), to(black));
  background: linear-gradient(black, navy, navy, black);
  color: #ce7500;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin: auto;
  border: 0.5rem double #f09c00;
}

main .tablita .tabla th {
  padding: 10px;
  text-align: center;
}

main .tablita .tabla td {
  padding: 5px;
  text-align: center;
  margin-left: 50px;
}

main .clases .p {
  text-align: left;
  width: 70%;
  margin: auto;
}

main .clases .containerClases .cardClases {
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
  background: #213852;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

main .clases .containerClases .cardClases:hover {
  -webkit-box-shadow: 5px 5px 20px #f09c00;
          box-shadow: 5px 5px 20px #f09c00;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

main .clases .containerClases .cardClases .foto {
  padding: 2rem;
  width: 100%;
}

main .clases .containerClases .cardClases .contenido {
  width: auto;
  padding: 15px;
  text-align: center;
}

main .clases .containerClases .cardClases .contenido p {
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

main .clases .containerClases .cardClases .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

main .clases .containerClases .cardClases .contenido h5 {
  line-height: 1.5;
  color: #f09c00;
}

main .clases .containerClases .cardClases .contenido a {
  width: auto;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  color: #f09c00;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

main .clases .containerClases .cardClases .contenido a:hover {
  background: #f09c00;
  color: #fff;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .contacto .p {
  text-align: center;
  width: 70%;
  margin: auto;
}

main .contacto .containerContacto .cardContacto {
  border-radius: 6px;
  background: #213852;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

main .contacto .containerContacto .cardContacto:hover {
  -webkit-box-shadow: 5px 5px 20px #f09c00;
          box-shadow: 5px 5px 20px #f09c00;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

main .contacto .containerContacto .cardContacto .foto {
  padding: 2rem;
  width: 75%;
}

main .contacto .containerContacto .cardContacto .contenido {
  padding: 15px;
  text-align: center;
}

main .contacto .containerContacto .cardContacto .contenido p {
  line-height: 1.5;
  color: #ffffff;
}

main .contacto .containerContacto .cardContacto .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

main .contacto .containerContacto .cardContacto .contenido h5 {
  line-height: 1.5;
  color: #f09c00;
}

main .contacto .containerContacto .cardContacto .contenido a {
  width: 30%;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  color: #f09c00;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

main .contacto .containerContacto .cardContacto .contenido a:hover {
  background: #f09c00;
  color: #fff;
}

main .contacto .containerContacto .cardContacto .contenido img {
  width: 25px;
  height: 25px;
}

main .botoncito {
  width: 50%;
  padding: 0.8rem;
  margin: 1rem;
  background-color: #213852;
  border-radius: 6px;
  background: #213852;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  letter-spacing: 0.9px;
}

main .botoncito:hover {
  background-color: #f09c00;
}

main .fondoModal {
  background-color: #f09c00;
}

main .botonModal {
  background-color: #f09c00;
}

main .backgroundContacto {
  color: #f09c00;
  background: #0a2f5a;
}

main .formularios .formulario {
  color: #f09c00;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer h1, footer .footer h2, footer .footer h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

footer .footer p, footer .footer h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

footer .footer a {
  color: #f09c00;
  text-decoration: none;
}

footer .footer .footerNav {
  background-color: #f09c00;
}

footer .footer .footerNav .linksFooter a .icono {
  width: 25px;
}

footer .footer .footerNav .linksFooter .enlaces ul {
  font-size: 1rem;
}

footer .footer .footerNav .linksFooter .enlaces ul li a {
  color: #0b28a8;
}

footer .footer .footerNav .linksFooter .enlaces ul li a:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border: #f09c00 double 0.35rem;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu {
  background-color: #f09c00;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu .dropdown-item {
  background-color: #f09c00;
  text-align: center;
}

footer .footer .footerNav .linksFooter .enlaces ul .dropdown-menu .dropdown-item:hover {
  color: #006eff;
  margin: auto;
  background-color: #ffd752;
  border: #f09c00 double 0.35rem;
}

footer .nav-link img {
  width: 25px;
}

footer .footerNav {
  padding: auto;
  margin: auto;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .tituloFotos .h2 {
  text-decoration: underline;
}

main .galeria {
  margin: auto;
  border: 0.5rem double #f09c00;
  padding: 0.4rem;
}

main {
  background-color: rgba(133, 133, 133, 0.082);
  text-align: center;
  padding: 10px;
}

main h1, main h2, main h3 {
  color: #f09c00;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  padding: 1rem;
}

main p, main h4 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 1rem;
  margin: 10px;
}

main a {
  color: #f09c00;
  text-decoration: none;
}

main .tituloVideos .h2 {
  text-decoration: underline;
}

main .videos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

main .videos .video1 .vid1 {
  border: 0.5rem double #f09c00;
}

main .videos .video2 .vid2 {
  border: 0.5rem double #f09c00;
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 20px;
  }
  .h2 {
    font-size: 16px;
  }
  .h3 {
    font-size: 10px;
  }
  .p {
    font-size: 13px;
  }
  a {
    font-size: 13px;
  }
  .banner {
    width: 50%;
  }
  .galeria {
    width: 85%;
  }
  th, td {
    font-size: 13px;
  }
  .containerContacto {
    display: block;
  }
  .containerContacto .cardContacto {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
  }
  .containerClases {
    display: block;
  }
  .containerClases .cardClases {
    width: 70%;
  }
  .containerClases .cardClases .contenido h4 {
    font-size: 2rem;
  }
  .containerClases .cardClases .contenido p {
    font-size: 1rem;
  }
  .containerClases .cardClases .contenido a {
    font-size: 1rem;
  }
  .token {
    width: 75px;
    height: 75px;
  }
  .videos {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .vid1 {
    width: 500px;
    height: 300px;
  }
  .vid2 {
    width: 500px;
    height: 300px;
  }
  .img {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 20px;
  }
  .h3, .h4 {
    font-size: 15px;
  }
  .p {
    font-size: 14px;
  }
  a {
    font-size: 13px;
  }
  .banner {
    width: 50%;
  }
  .galeria {
    width: 75%;
  }
  th, td {
    font-size: 15px;
  }
  .token {
    width: 150px;
    height: 150px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .vid1 {
    width: 500px;
    height: 300px;
  }
  .vid2 {
    width: 500px;
    height: 300px;
  }
  .img {
    width: 50%;
  }
  .containerContacto {
    display: block;
  }
  .containerContacto .cardContacto {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
  }
  .containerClases {
    display: block;
  }
  .containerClases .cardClases {
    width: 70%;
  }
  .containerClases .cardClases .contenido h4 {
    font-size: 2rem;
  }
  .containerClases .cardClases .contenido p {
    font-size: 1rem;
  }
  .containerClases .cardClases .contenido a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3, .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  .tablita {
    width: 70%;
  }
  .banner {
    width: 50%;
  }
  .galeria {
    width: 75%;
  }
  .token {
    width: 180px;
    height: 180px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 800px;
  }
  .vid1 {
    width: 500px;
    height: 300px;
  }
  .vid2 {
    width: 500px;
    height: 300px;
  }
  .img {
    width: 50%;
  }
  .containerContacto {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .containerClases {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .containerClases .cardClases {
    width: 80%;
  }
}

@media only screen and (min-width: 1400px) {
  .h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3, .h4 {
    font-size: 20px;
  }
  .p {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }
  .tablita {
    width: 70%;
  }
  .banner {
    width: 70%;
  }
  .galeria {
    width: 75%;
  }
  .token {
    width: 180px;
    height: 180px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
  }
  .vid1 {
    width: 600px;
    height: 350px;
  }
  .vid2 {
    width: 600px;
    height: 350px;
  }
  .img {
    width: 50%;
  }
}
/*# sourceMappingURL=miestilo.css.map */